<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orar Grupa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/navbar-admin2.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/orar_grupe_admin.css')}}"/>

</head>
 <body class="bg-light">

   <header>
    <div class="nav">
        <div class="header-left">
            <h1><span class="logo">ClassCoord</span></h1>
        </div>
        <div class="header-right">
            <nav>
                <ul class="nav-list">
                     <li><a href="/" class="active">Acasa</a>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestionare Orare
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownOrar">
                            <li><a class="dropdown-item" href="/orar_grupe_admin">Orar Grupe</a></li>
                            <li><a class="dropdown-item" href="/orar_profesori_admin">Orar Profesori</a></li>
                            <li><a class="dropdown-item" href="/orar_sali_admin">Orar Sali</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdauga" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestionare date
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdauga">
                        <li><a class="dropdown-item" href="/formular_adauga_sala">Adauga Sali</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_materii">Adauga Materii</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_departament">Adauga Departamente</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_grupe">Adauga Grupe</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_profesori">Adauga Profesori</a></li>
                    </ul>
                </li>

                    <li><a href="/admin_register">Creare utilizatori</a></li>
                </ul>
<!--                <div class="hamburger-menu">&#9776;</div>-->
            </nav>
            <a href="/logout" class="login-btn">Logout</a>
        </div>
    </div>
</header>
     <div class="container py-4">
           <div class="controls-container">
            <div class="form-group col-md-4 px-0">
                <label for="grupaSelect">Selectati Grupa:</label>
                <select id="grupaSelect" class="form-control" style="max-width: 120px">
                    <!-- Optiunile vor fi adaugate din js -->
                </select>
            </div>
            <div class="form-group col-md-4 px-0">
                <label for="semestruSelect" style="margin-left: -240px">Selectati Semestrul:</label>
                <select id="semestruSelect" class="form-control" style="margin-left: -220px;max-width: 80px">
                    <option value="1">I</option>
                    <option value="2">II</option>
                </select>
            </div>
            <div class="toggle-container col-md-4 px-0">
                <div class="switch-label">Comuta Saptamâna</div>
                <label class="switch">
                    <input type="checkbox" id="saptamanaSwitch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

<!--        <button id="regenereazaOrarButton" class="btn btn-primary">Regenereaza Orar</button>-->
<!--        <button id="saveOrarButton" class="btn btn-success ml-2">Salveaza Orar</button>-->
<!--        <p id="saveConfirmation" class="text-success d-none">Orarul a fost salvat!</p>-->

        <table id="orarImparTable" class="table table-striped orar-table">
    <caption class="h2 mt-5">ORAR SaPTaMÂNa IMPARa</caption>

            <thead class="thead-dark">
                <tr>
                    <th>Interval</th>
                    <th>Luni</th>
                    <th>Marti</th>
                    <th>Miercuri</th>
                    <th>Joi</th>
                    <th>Vineri</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tabelul va fi populat din js -->
            </tbody>
        </table>

        <table id="orarParTable" class="table table-striped orar-table">
    <caption class="h2 mt-5">ORAR SAPTaMÂNa PARa</caption>

            <thead class="thead-dark">
                <tr>
                    <th>Interval</th>
                    <th>Luni</th>
                    <th>Marti</th>
                    <th>Miercuri</th>
                    <th>Joi</th>
                    <th>Vineri</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tabelul va fi populat din js -->
            </tbody>
        </table>
        <div class="download-button-container">
        <button id="descarcaOrarPdf" class="btn btn-secondary mt-2">Descarca Orar PDF</button>
        <button id="regenereazaOrarButton" class="btn btn-primary" style="margin-top: 6px">Regenereaza Orar</button>

  </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf-autotable@3.8.1/dist/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/navbar-admin.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
   <script>
        $(document).ready(function() {
            // Initializare initiala a orarului la încarcarea paginii
            initializareSelectGrupa('I');

            // Event handler pentru schimbarea semestrului
            $('#semestruSelect').change(function() {
                let semestruSelectat = $(this).val() === '1' ? 'I' : 'II';
                initializareSelectGrupa(semestruSelectat);
            });
        $('#regenereazaOrarButton').click(function() {
            let semestruSelectat = $('#semestruSelect').val() === '1' ? 'I' : 'II';
            $.get(`/regenereaza_orar/${semestruSelectat}`, function(response) {
                if (response.status === 'success') {
                    alert(response.message);
                    // Reîncarca orarul din fișierele JSON actualizate
                    let grupaSelectata = $('#grupaSelect').val();
                    let fisierOrar = `static/orar_semestrul_${semestruSelectat}.json`;
                    $.getJSON(fisierOrar, function(data) {
                        const orar = data[grupaSelectata];
                        populareTabel('#orarImparTable tbody', orar['saptamana_impara']);
                        populareTabel('#orarParTable tbody', orar['saptamana_para']);
                    });
                }
            });
        });
        $('#saptamanaSwitch').change(function() {
            if (this.checked) {
                $('#orarImparTable').hide();
                $('#orarParTable').show();
            } else {
                $('#orarImparTable').show();
                $('#orarParTable').hide();
            }
        });
        $('#descarcaOrarPdf').click(function() {
            const doc = new jspdf.jsPDF();
            const grupa = $('#grupaSelect').val();
            const semestru = $('#semestruSelect').val();

            doc.setFont('times', 'bold');
            doc.setFontSize(20);
            let titlu = 'Orar pentru Grupa: ' + grupa + ', Semestrul: ' + semestru;
            doc.text(titlu, doc.internal.pageSize.getWidth() / 2, 20, { align: 'center' });

            const columnStyles = {
                0: { cellWidth: 30 },
                1: { cellWidth: 30 },
                2: { cellWidth: 30 },
                3: { cellWidth: 30 },
                4: { cellWidth: 30 },
                5: { cellWidth: 30 },
                halign: 'center',
                valign: 'middle'
            };
            const intervalStyles = {
                halign: 'center',
                valign: 'middle',
                fontStyle: 'bold'
            };
            const headerStyles = {
                fillColor: [41, 128, 185],
                textColor: 255,
                fontStyle: 'bold',
                halign: 'center',
                valign: 'middle'

            };

            const margins = {
                horizontal: 15,
                top: 30,
                bottom: 30
            };

            doc.setFont('helvetica', 'normal');
            doc.setFontSize(14);
            let titluImpar = 'Orar Saptamana Impara';
            doc.text(titluImpar, doc.internal.pageSize.getWidth() / 2, 35, { align: 'center' });
            doc.autoTable({
                html: '#orarImparTable',
                startY: 40,
                theme: 'grid',
                headStyles: headerStyles,
                columnStyles: columnStyles,
                styles: { cellWidth: 'wrap' },
                margin: margins
            });

            doc.addPage();
            let titluPar = 'Orar Saptamana Para';
            doc.setFontSize(14);
            doc.text(titluPar, doc.internal.pageSize.getWidth() / 2, 20, { align: 'center' });
            doc.autoTable({
                html: '#orarParTable',
                startY: 25,
                theme: 'grid',
                headStyles: headerStyles,
                columnStyles: columnStyles,
                styles: { cellWidth: 'wrap' },
                margin: margins
            });

            // salvare PDF
            let numeFisier = 'orar_studenti_' + grupa + '_semestru_' + semestru + '.pdf';
            doc.save(numeFisier);
        });

        // Initializare initiala a orarului
        $('#orarParTable').hide();


            // Event handler pentru schimbarea grupei
            $('#grupaSelect').change(incarcaOrar);

            // Functie pentru încarcarea orarului
            function incarcaOrar() {
                let grupaSelectata = $('#grupaSelect').val();
                let semestruSelectat = $('#semestruSelect').val() === '1' ? 'I' : 'II';
                let fisierOrar = `static/orar_semestrul_${semestruSelectat}.json`;

                $.getJSON(fisierOrar, function(data) {
                    const orar = data[grupaSelectata];
                    populareTabel('#orarImparTable tbody', orar['saptamana_impara']);
                    populareTabel('#orarParTable tbody', orar['saptamana_para']);
                });
            }
            $('#loadOrarButton').click(function() {
                let grupaSelectata = $('#grupaSelect').val();
                let semestruSelectat = $('#semestruSelect').val() === '1' ? 'I' : 'II';
                let fisierOrar = `static/orar_semestrul_${semestruSelectat}.json`;

                $.getJSON(fisierOrar, function(data) {
                    const orar = data[grupaSelectata];
                    populareTabel('#orarImparTable tbody', orar['saptamana_impara']);
                    populareTabel('#orarParTable tbody', orar['saptamana_para']);
                });
            });

            // Functia pentru popularea select-ului grupa
            function initializareSelectGrupa(semestru) {
                let grupaCurenta = $('#grupaSelect').val();
                $('#grupaSelect').empty(); 
                let fisierOrar = `static/orar_semestrul_${semestru}.json`;

                $.getJSON(fisierOrar, function(data) {
                    let grupaExistenta = false;
                    for (const grupa in data) {
                        $('#grupaSelect').append(new Option(grupa, grupa));
                        if (grupa === grupaCurenta) {
                            grupaExistenta = true;
                        }
                    }
                    if (grupaExistenta) {
                        $('#grupaSelect').val(grupaCurenta);
                    }
                    incarcaOrar();
                });
            }

            // Functia pentru popularea tabelului cu orar
        function populareTabel(selectorTabel, orar) {
            let tabel = $(selectorTabel);
            tabel.empty();

            for (let ora = 9; ora < 19; ora += 2) {
                let rand = $('<tr></tr>');
                let interval = `${ora}-${ora + 2}`;
                rand.append(`<td>${interval}</td>`);

                ['Luni', 'Marti', 'Miercuri', 'Joi', 'Vineri'].forEach(zi => {
                    let detaliiOra = orar[zi][ora];
                    if (detaliiOra) {
                        let tip_ora = detaliiOra.tip_ora.charAt(0).toUpperCase() + detaliiOra.tip_ora.slice(1);
                        let grupa = detaliiOra.materie.match(/\(Semigrupa (A|B)\)/) ? `(${RegExp.$1})` : '';
                        let sala = `Sala: ${detaliiOra.sala}`;
                        let profesor = `Profesor: ${detaliiOra.profesor}`;
                        let text = `${detaliiOra.materie.replace(/\s\(Semigrupa (A|B)\)/, '')}<br>${tip_ora} ${grupa}<br>${sala}<br>${profesor}`;
                        rand.append(`<td>${text}</td>`);
                    } else {
                        rand.append('<td></td>');
                    }
                });

                tabel.append(rand);
            }
        }

        });



</script>
</body>
</html>
