<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orar Sală</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/navbar-admin2.css')}}"/>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/orar_sali_admin.css')}}"/>

</head>
<body class="bg-light">



<header>
    <div class="nav">
        <div class="header-left">
            <h1><span class="logo">ClassCoord</span></h1>
        </div>
        <div class="header-right">
            <nav>
                <ul class="nav-list">
                     <li><a href="/" class="active">Acasă</a>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestionare Orare
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownOrar">
                            <li><a class="dropdown-item" href="/orar_grupe_admin">Orar Grupe</a></li>
                            <li><a class="dropdown-item" href="/orar_profesori_admin">Orar Profesori</a></li>
                            <li><a class="dropdown-item" href="/orar_sali_admin">Orar Săli</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdauga" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestionare date
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdauga">
                        <li><a class="dropdown-item" href="/formular_adauga_sala">Adaugă Săli</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_materii">Adaugă Materii</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_departament">Adaugă Departamente</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_grupe">Adaugă Grupe</a></li>
                        <li><a class="dropdown-item" href="/formular_adauga_profesori">Adaugă Profesori</a></li>
                    </ul>
                </li>

                    <li><a href="/admin_register">Creare utilizatori</a></li>
                </ul>
<!--                <div class="hamburger-menu">&#9776;</div>-->
            </nav>
            <a href="/logout" class="login-btn">Logout</a>
        </div>
    </div>
</header>
    <div class="container py-4">
        <div class="controls-container">
            <div class="form-group">
                <label for="salaSelect">Selectați Sala:</label>
                <select id="salaSelect" class="form-control" style="max-width: 120px">
                    <!-- Optiunile pentru sali vor fi adăugate din js -->
                </select>
            </div>
            <div class="form-group">
                <label for="semestruSelect" style="margin-left: -360px">Selectați Semestrul:</label>
                <select id="semestruSelect" class="form-control" style="margin-left: -340px;max-width: 80px">
                    <option value="1">I</option>
                    <option value="2">II</option>
                </select>
            </div>
            <div class="toggle-container">
                <div class="switch-label">Comută Săptămâna</div>
                <label class="switch">
                    <input type="checkbox" id="saptamanaSwitch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <table id="orarSalaTable" class="table table-striped orar-table">
        <caption id="orarCaption" class="h2 mt-5">Orar Sală - Săptămâna Impară</caption>

            <thead class="thead-dark">
                <tr>
                    <th>Ora</th>
                    <th>Luni</th>
                    <th>Marti</th>
                    <th>Miercuri</th>
                    <th>Joi</th>
                    <th>Vineri</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tabelul va fi populat din js -->
            </tbody>
        </table>
        <div class="download-button-container">
        <button id="descarcaOrarSalaPdf" class="btn btn-secondary mt-2">Descarcă Orar PDF</button>
        <button id="regenereazaOrarButton" class="btn btn-primary" style="margin-top: 6px">Regenerează Orar</button>

  </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf-autotable@3.8.1/dist/jspdf.plugin.autotable.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/navbar-admin.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    <!-- Scriptul JavaScript de mai sus -->
$(document).ready(function() {
    let salaCurenta = '';
    let orarSalaImpara = {};
    let orarSalaPara = {};
    let esteSaptamanaImpara = true;

    initializare();
        $('#regenereazaOrarButton').click(function() {
            let semestruSelectat = $('#semestruSelect').val() === '1' ? 'I' : 'II';
            $.get(`/regenereaza_orar/${semestruSelectat}`, function(response) {
                if (response.status === 'success') {
                    alert(response.message);
                    // reincarcare a orarului din fisierele JSON actualizate
                    let grupaSelectata = $('#grupaSelect').val();
                    let fisierOrar = `static/orar_semestrul_${semestruSelectat}.json`;
                    $.getJSON(fisierOrar, function(data) {
                        const orar = data[grupaSelectata];
                        populareTabel('#orarImparTable tbody', orar['saptamana_impara']);
                        populareTabel('#orarParTable tbody', orar['saptamana_para']);
                    });
                }
            });
        });
    function initializare() {
        let semestruSelectat = $('#semestruSelect').val() === '1' ? 'I' : 'II';
        incarcaSali(semestruSelectat);
        $('#saptamanaSwitch').prop('checked', false);
        actualizeazaCaption();
        incarcaOrarSala(salaCurenta, semestruSelectat);
    }

    $('#semestruSelect').change(function() {
        let semestruSelectat = $(this).val() === '1' ? 'I' : 'II';
        salaCurenta = $('#salaSelect').val();
        incarcaSali(semestruSelectat);
    });

    $('#salaSelect').change(function() {
        salaCurenta = $(this).val();
        let semestruSelectat = $('#semestruSelect').val() === '1' ? 'I' : 'II';
        incarcaOrarSala(salaCurenta, semestruSelectat);
    });

    $('#saptamanaSwitch').change(function() {
        esteSaptamanaImpara = !$(this).is(':checked');
        actualizeazaCaption();
        incarcaOrarSala(salaCurenta, $('#semestruSelect').val() === '1' ? 'I' : 'II');
    });

    function actualizeazaCaption() {
        let captionText = esteSaptamanaImpara ? "ORAR SĂLI - SĂPTAMÂNĂ IMPARĂ" : "ORAR SĂLI - SPTAMÂNĂ PARĂ";
        $('#orarCaption').text(captionText);
    }

    function incarcaSali(semestru) {
        let fisierOrar = `static/orar_semestrul_${semestru}.json`;

        $.getJSON(fisierOrar, function(data) {
            let saliUnice = new Set();
            Object.values(data).forEach(orarGrupa => {
                ['saptamana_impara', 'saptamana_para'].forEach(saptamana => {
                    Object.keys(orarGrupa[saptamana]).forEach(zi => {
                        Object.keys(orarGrupa[saptamana][zi]).forEach(ora => {
                            let detaliiOra = orarGrupa[saptamana][zi][ora];
                            if (detaliiOra && detaliiOra.sala) {
                                saliUnice.add(detaliiOra.sala);
                            }
                        });
                    });
                });
            });

            $('#salaSelect').empty();
            saliUnice.forEach(sala => {
                $('#salaSelect').append(new Option(sala, sala));
            });

            salaCurenta = saliUnice.has(salaCurenta) ? salaCurenta : $('#salaSelect').children().first().val();
            $('#salaSelect').val(salaCurenta);
            incarcaOrarSala(salaCurenta, semestru);
        });
    }

    function incarcaOrarSala(sala, semestru) {
        let fisierOrar = `static/orar_semestrul_${semestru}.json`;

        $.getJSON(fisierOrar, function(data) {
            orarSalaImpara = {};
            orarSalaPara = {};

            Object.keys(data).forEach(grupa => {
                let orarGrupa = data[grupa];
                ['saptamana_impara', 'saptamana_para'].forEach(saptamana => {
                    let orarCurent = saptamana === 'saptamana_impara' ? orarSalaImpara : orarSalaPara;

                    Object.keys(orarGrupa[saptamana]).forEach(zi => {
                        Object.keys(orarGrupa[saptamana][zi]).forEach(ora => {
                            let detaliiOra = orarGrupa[saptamana][zi][ora];
                            if (detaliiOra && detaliiOra.sala === sala) {
                                if (!orarCurent[zi]) {
                                    orarCurent[zi] = {};
                                }
                                orarCurent[zi][ora] = {...detaliiOra, grupa: grupa};
                            }
                        });
                    });
                });
            });

            populareTabel('#orarSalaTable tbody', esteSaptamanaImpara ? orarSalaImpara : orarSalaPara);
        });
    }

    function populareTabel(selectorTabel, orar) {
        let tabel = $(selectorTabel);
        tabel.empty();

        for (let ora = 9; ora < 19; ora += 2) {
            let rand = $('<tr></tr>');
            let interval = `${ora}-${ora + 2}`;
            rand.append(`<td>${interval}</td>`);

            ['Luni', 'Marti', 'Miercuri', 'Joi', 'Vineri'].forEach(zi => {
                let detaliiOra = orar[zi] && orar[zi][ora];
                if (detaliiOra) {
                    let tip_ora = detaliiOra.tip_ora.charAt(0).toUpperCase() + detaliiOra.tip_ora.slice(1);
                    let materie = detaliiOra.materie;
                    let grupa = detaliiOra.grupa;
                    let text = `${materie} (Grupa: ${grupa})<br>${tip_ora}`;
                    rand.append(`<td>${text}</td>`);
                } else {
                    rand.append('<td></td>');
                }
            });

            tabel.append(rand);
        }
    }

    $('#descarcaOrarSalaPdf').click(function() {
        const doc = new jspdf.jsPDF();
        const sala = $('#salaSelect').val();
        const semestru = $('#semestruSelect').val();

        // Adăugăm titlul documentului
        doc.setFont('times', 'bold');
        doc.setFontSize(20);
        let titlu = 'Orar pentru Sala: ' + sala + ', Semestrul: ' + semestru;
        doc.text(titlu, doc.internal.pageSize.getWidth() / 2, 20, { align: 'center' });

    const columnStyles = {
        0: { cellWidth: 30 },
        1: { cellWidth: 30 },
        2: { cellWidth: 30 },
        3: { cellWidth: 30 },
        4: { cellWidth: 30 },
        5: { cellWidth: 30 },
        halign: 'center',
        valign: 'middle'
    };
    const headerStyles = {
        fillColor: [41, 128, 185],
        textColor: 255,
        fontStyle: 'bold',
        halign: 'center',
        valign: 'middle'
    };
    const margins = {
        horizontal: 15,
        top: 30,
        bottom: 30
    };
        adaugaOrarLaPdf(doc, orarSalaImpara, "Orar Sala - Saptamana Impara", margins, headerStyles, columnStyles);
        doc.addPage();
        adaugaOrarLaPdf(doc, orarSalaPara, "Orar Sala - Saptamana Para", margins, headerStyles, columnStyles);

        // salvare PDF
        let numeFisier = 'orar_sala_' + sala.replace(/\s/g, '_') + '_semestru_' + semestru + '.pdf';
        doc.save(numeFisier);
    });

    function adaugaOrarLaPdf(doc, orar, titluSaptamana, margins, headerStyles, columnStyles) {
        doc.setFont('helvetica', 'normal');
        doc.setFontSize(14);
        doc.text(titluSaptamana, doc.internal.pageSize.getWidth() / 2, 30, { align: 'center' });

        let tabelHtml = creeazaTabelHtml(orar);
        doc.autoTable({
            html: tabelHtml,
            startY: 40,
            theme: 'grid',
            headStyles: headerStyles,
            columnStyles: columnStyles,
            styles: { cellWidth: 'wrap' },
            margin: margins
        });
    }

    function creeazaTabelHtml(orar) {
        let tabel = $('<table></table>');
        let thead = $('<thead></thead>');
        let trHead = $('<tr></tr>');
        ['Ora', 'Luni', 'Marti', 'Miercuri', 'Joi', 'Vineri'].forEach(header => {
            trHead.append($('<th></th>').text(header));
        });
        thead.append(trHead);
        tabel.append(thead);

        let tbody = $('<tbody></tbody>');
        for (let ora = 9; ora < 19; ora += 2) {
            let tr = $('<tr></tr>');
            let tdOra = $('<td></td>').text(`${ora}-${ora + 2}`);
            tr.append(tdOra);

            ['Luni', 'Marti', 'Miercuri', 'Joi', 'Vineri'].forEach(zi => {
                let detaliiOra = orar[zi] && orar[zi][ora];
                let tdZi = $('<td></td>');
                if (detaliiOra) {
                    tdZi.html(`${detaliiOra.materie} (Grupa: ${detaliiOra.grupa})<br>${detaliiOra.tip_ora}`);
                }
                tr.append(tdZi);
            });

            tbody.append(tr);
        }
        tabel.append(tbody);

        return tabel.get(0);
    }
});
</script>
</body>
</html>
